<div class="LOGIN">
  <form #loginForm="ngForm" (ngSubmit)="handleLoginClick(loginForm)">
    <p class="LOGIN__USERNAME">
      <mat-form-field appearance="legacy">
        <mat-label>UserName</mat-label>
        <input matInput placeholder="UserName" required name="userName" minlength="3" [(ngModel)]="userName"
          #inputUsername="ngModel">
        <mat-hint>Hint</mat-hint>
        <mat-error *ngIf="inputUsername.touched && inputUsername.errors?.required">Please enter a valid username
        </mat-error>
        <mat-error *ngIf="inputUsername.touched && inputUsername.errors?.minlength">Please enter more than 3 char
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" name="password" ngModel>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
    <p class="LOGIN__BUTTON">
      <button type="submit" [disabled]="!loginForm.valid" mat-raised-button color="primary">Submit</button>
      <button type="button" mat-raised-button color="accent" routerLink="/login">Login</button>
    </p>
    <p>dirty : {{loginForm.dirty}}</p>
    <p>pristine : {{loginForm.pristine}}</p>
    <p>valid : {{loginForm.valid}}</p>
    <p>touched : {{loginForm.touched}}</p>
    <p>errors : {{loginForm.errors}}</p>
  </form>
</div>
